@{

    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    П.Бровки 6<br />
    Минск, Беларусь<br />
    <abbr title="Телефона ниту"></abbr>
    +375 (17) ХХХ-ХХ-ХХ
</address>

<address>
    <strong>Почта группы 544601:</strong>   <a href="mailto:bastardy.granbko@gmail.com">Bastardy.granbko@gmail.com</a>
</address>