@{
    Layout = "~/Views/Shared/Goodies_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Хэллоу Ворлд!</h1>
    <p class="lead">Вот по этой ссылке я учился делать все это</p>
    <p><a href="https://habrahabr.ru/post/175999/" class="btn btn-primary btn-lg">Ссылка на habrahabr &rsaquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://www.wp-info.ru/specialnye-simvoly-v-html/">  Спецсимволы HTML </a></p>
        <p><a class="btn btn-default" href="http://mybootstrap.ru/base-css/">Стили CSS | Bootstrap</a></p>
    </div>
</div>
