@{
    ViewBag.Title = "Секрет";
}
<h3>@ViewBag.Message</h3>

<address>

    <strong>Steam:</strong> <br />

    <table class="table table-condensed" style="width:48%;float:left">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                @*<th>Ник</th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Кирилл</td>
                <td>Метелица</td>
                @*<td><a href="http://steamcommunity.com/id/bbbee2">Darth Bee</a></td>*@
            </tr>
            <tr>
                <td>Влад</td>
                <td>Лиферов</td>
                @*<td><a href="http://steamcommunity.com/profiles/76561198104484058">DeadLock</a></td>*@
            </tr>
            <tr>
                <td>Влад</td>
                <td>Шацкий</td>
                @*<td><a href="http://steamcommunity.com/profiles/76561198100887682">deathgodt</a></td>*@
            </tr>
            <tr>
                <td>Андрей</td>
                <td>Царевич</td>
                @*<td><a href="http://steamcommunity.com/id/thegreatmotherfucker">TGMF</a></td>*@
            </tr>
            <tr>
                <td>Настя</td>
                <td>Кислюк</td>
                @*<td><a href="http://steamcommunity.com/id/misakirai">Misakirai</a></td>*@
            </tr>
            <tr>
                <td>Дима</td>
                <td>Казлов</td>
            </tr>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
    <table class="table table-condensed" style="width:48%;float:right">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                @*<th>Ник</th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Дима</td>
                <td>Вахрушев</td>
            </tr>
            <tr>
                <td>Дима</td>
                <td>Шкальков</td>
            </tr>
            <tr>
                <td>Стас</td>
                <td>Мельников</td>
            </tr>
            <tr>
                <td>Саша</td>
                <td>Громолюк</td>
            </tr>
            <tr>
                <td>Леша</td>
                <td>Белый</td>
            </tr>
            <tr>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
    <img src="~/Image/Wisp.png" width="380" height="236" /><img src="~/Image/SLark.png" width="380" height="236" /><img src="~/Image/SF.png" width="380" height="236" />
</address>